IDR_ICON_AIM          RCDATA  "Resources/target.png"
IDR_ICON_AIMBOT       RCDATA  "Resources/location-crosshairs.png"
IDR_ICON_VISUALS      RCDATA  "Resources/sparkles.png"
IDR_ICON_SETTINGS     RCDATA  "Resources/settings.png"
IDR_ICON_SETTINGS_ALT RCDATA  "Resources/settings-sliders.png"
IDR_ICON_MOVEMENT     RCDATA  "Resources/running.png"
IDR_ICON_VISION	      RCDATA  "Resources/eye.png"
IDR_FONT_INTER        RCDATA  "Resources/Inter_18pt-Medium.ttf"